beautifulsoup4
cerebras-cloud-sdk
emoji
Flask
groq
httpx
openai
Pillow
python-telegram-bot[job-queue]
pytz
rdkit
replicate
telegraph
telethon
pytgcalls
pydub
edge-tts
faster-whisper
soundfile
numpy
ffmpeg-python
